* {
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-color: black;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;

}
.logo {
  margin-top: -25px;
  font-size: 20px;
  margin-right: 400px;
}
.nav-link {
  justify-content: space-between;
  font-size: 15px;
  text-align: right;
}

.nav-link a {
  margin-right: 30px;
  color: #fff;
}
.nav-link a:hover{
    padding: 10px;
    color: black;
    background-color: #fff;
}
main {
  margin-top: 40px;
  color: #fff;

}
.main-left {
  margin-top: 30px;
  text-align: left;
  max-width: 400px;
  margin-left: 20px;
}
.main-left h2 {
    max-width: 500px;
  font-size: 25px;
  font-weight: bolder;
}
.main-left p {
    max-width: 400px;
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 50px;
}
.start {
  background-color: burlywood;
  font-size: 15px;
  text-align: center;
  align-items: center;
  padding: 15px;
  width: 4000px;

  height: 100px;
  border: 1px burlywood;
  border-radius: 20px;  
  color: #fff;
}

.start:hover{
    color: black;
    background-color: #fff;
}
/* .img1 {
  width: 50px;
  height: 50px;
  opacity: 0.8;
  margin-left: 30px;
} */

.main-right {
  margin-top: -280px;

   margin-left: 350px;
}
.main-right img{
  width: 700px;
  height: 400px;
}
.img2 {
  width: 30px;
  height: 3px;
 

}
/* media queries for responsiveness */
@media screen  and (max-width: 768px){
  html{
    font-size: 55%;
  }
.logo{
  margin-right:200px ;
  font-size: 15px;
}
.nav-link{
  font-size: 10px;
}
.nav-link a {
  margin-right: 20px;
}
.nav-link a:hover{
  padding: 5px;

}
main {
  margin-top: 20px;

}
.main-left {
  margin-top: 20px;
  text-align: left;
  max-width: 200px;
  margin-left: 10px;
}
.main-left h2 {
    max-width: 300px;
  font-size: 15px;
}
.main-left p {
    max-width: 300px;
  font-size: 13px;
 
}
.start {
  font-size: 10px;
  padding: 10px;
  width: 2000px;
  height: 70px;
  }
  .main-right {
     margin-left: 150px;
  }
  .main-right img{
    margin-top: 50px;
    width: 500px;
    height: 300px;
  }
}
@media screen  and (max-width: 600px){
  html{
    font-size: 50%;
  }
.logo{
  /* margin-top: 5px; */
  margin-right:150px ;
  font-size: 15px;
}
.nav-link{
  font-size: 5px;
}
.nav-link a {
  margin-right: 10px;
}
.nav-link a:hover{
  padding: 3px;

}
main {
  margin-top: 20px;

}
.main-left {
  margin-top: 15px;
  text-align: left;
  max-width: 150px;
  margin-left: 5px;
}
.main-left h2 {
    max-width: 200px;
  font-size: 13px;
}
.main-left p {
    max-width: 300px;
  font-size: 12px;

}
.start {
  font-size: 10px;
  padding: 10px;
  width: 2000px;
  height: 70px;
  }
  .main-right {
     margin-left: 100px;
  }
  .main-right img{
    margin-top: 50px;
    width: 400px;
    height: 250px;
  }
}